.cardAll {
    width: 271px;
    height: 500px;
    /* margin: 50px 0px; */
    padding: 4px 5px;
    max-width: 558px;
    margin: 30px 0px;
} .cardAllButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
} .cardAllButtons p, button {
   padding: 0;
   margin: 0;
} .buttonGreenEffect {
    background: #44d62c;
    border: none;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    font-family: Razer F5 Bold;
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    transition: .5s ease;
    width: 60px;
    
 } .buttonGreenEffect:hover {
    width: 70px;
    transition: 0.2s;
 }
 .buttonBlackEffect {
    
    transition: .5s ease;
    background: #111;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-family: Razer F5 Bold;
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    width: 60px;
 }  .buttonBlackEffect:hover {
    width: 70px;
    transition: 0.2s;
 }
.cardAllImg {
    background-color: rgb(48, 48, 48);
} 
.cardAllImg img {
    width: 100%;
    background-color: #1f1f1f;
} .cardAll-body {
    background-color: rgb(85, 84, 84);  
} .cardAll-body h3 {
    color: white;
    font-weight: bold;
    font-size: 19px;
    padding: 9px;
} .cardAll-body p {
    color: #888;
    font-family: Razer F5 Medium;
    font-size: 16px;
    font-weight: 400;
    min-height: 45px;
    padding: 9px;
}


.Grid-Country {
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding: 30px 0;
    height: auto;
    place-items: center;
    border-top: 2px solid #44d62c;
  
    /* margin: 240px 0px; */
}

@media screen and (max-width: 1200px) {
    .Grid-Country{
        grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 0;
    }
    .cardAll {
        /* width: 360px;
        height: 360px; */
        margin: 120px 0px;
        max-width: 360px;
        width: 100%;
    }


}
@media screen and (max-width: 992px) {
    .Grid-Country{
        grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 0;
    }
    .cardAll {
        /* width: 290px;
        height: 290px; */
        max-width: 390px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .Grid-Country{
        grid-gap: 20px;
        display: grid;
        gap: 20px;
        padding: 30px 0;
        grid-template-columns: repeat(2,1fr);
    
    }
    .cardAll {
        /* width: 334px;
        height: 334px; */
        max-width: 434px;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .Grid-Country{
        grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1,1fr);
    padding: 30px 0;
    }
    .cardAll {
        /* width: 496px;
        height: 496px; */
        max-width: 576px;
        width: 100%;
    }
}

@media screen and (max-width: 322px) {
    .Grid-Country{
        grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1,1fr);
    padding: 30px 0;
    }
    .cardAll {
        /* width: 271px;
        height: 271px; */
        max-width: 271px;
        width: 100%;
    }
}
